.customers__tytle, .team__tytle, .service__tytle {
  color: #d4d4d4;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.footer__text, .footer__encourage {
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  font-style: normal;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff9e1;
  font-family: Roboto;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

input {
  border: none;
}

.body {
  font-family: Roboto;
  background-color: black;
}

.container {
  max-width: 480px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  border-bottom: solid #ececec 1px;
}
.header__container {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    justify-content: center;
  }
}
.header__logo {
  color: #FFCB00;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.78px;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    color: #FFCB00;
    font-family: Raleway;
  }
}
.header__span {
  color: #d4d4d4;
}
.header__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    margin-left: 88px;
    gap: 51px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    display: flex;
    gap: 55px;
    margin-left: 93px;
  }
}
.header__link {
  color: #d4d4d4;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.28px;
  position: relative;
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
  transition-duration: 250ms;
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transition-duration: 250ms;
  background-color: #FFCB00;
  opacity: 0;
  transform: scale(0);
  transition: transform 250ms cubic-bezier(0.83, -0.08, 0.32, 1), opacity 250ms cubic-bezier(0.83, -0.08, 0.32, 1);
}
.header__link:hover::after {
  opacity: 1;
  transform: scale(1);
}
.header__link:hover {
  color: #FFCB00;
}
.header__link:focus {
  color: #FFCB00;
}
.header__item:hover::after {
  opacity: 1;
  transform: scaleX(1);
}
.header__contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: flex;
    margin-left: 96px;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-left: 318px;
    flex-direction: row;
  }
}
.header__content {
  display: flex;
  gap: 10px;
}
.header__contact {
  color: #b0b0b0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__gmail {
  width: 16px;
  height: 12px;
  flex-shrink: 0;
  fill: #b0b0b0;
  margin-top: 2px;
  margin-bottom: 2px;
}
.header__phone {
  width: 10px;
  height: 16px;
  flex-shrink: 0;
  fill: #b0b0b0;
}
.header__contact:hover {
  color: #FFCB00;
}
.header__content:hover .header__gmail {
  fill: #FFCB00;
}
.header__content:hover .header__phone {
  fill: #FFCB00;
}
.header__contact:focus {
  color: #FFCB00;
}
.header__content:focus-within .header__gmail {
  fill: #FFCB00;
}
.header__content:focus-within .header__phone {
  fill: #FFCB00;
}
.header__button {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__button {
    display: none;
  }
}
.header__icon {
  fill: #d4d4d4;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .header__icon {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__icon {
    display: none;
  }
}
.header__button:hover .header__icon {
  fill: #FFCB00;
}
.header__button:focus .header__icon {
  fill: #FFCB00;
}

.footer {
  background: #4f4b46;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.footer__containre {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__containre {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    -moz-column-gap: 165px;
         column-gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__containre {
    flex-wrap: nowrap;
    gap: 0;
  }
}
.footer__first {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__first {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__first {
    align-items: start;
  }
}
.footer__second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 12px;
  width: 206px;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .footer__second {
    justify-content: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer__second {
    justify-content: center;
    align-items: start;
    margin-left: 70px;
    margin-right: 93px;
  }
}
.footer__logo {
  color: #FFCB00;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.9;
  letter-spacing: 0.78px;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    margin-bottom: 20px;
  }
}
.footer__color {
  color: #fff9e1;
}
.footer__address {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  margin-top: 9px;
}
.footer__special {
  color: #fff;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
}
.footer__list {
  margin-top: 32px;
  display: flex;
  gap: 10px;
}
.footer__content {
  border-radius: 50px;
  width: 44px;
  height: 44px;
  padding: 12px;
  transition-duration: 250ms;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: none;
  transition-property: color;
}
.footer__content:hover {
  background-color: #FFCB00;
}
.footer__content:focus-within {
  background-color: #FFCB00;
}
.footer__services {
  width: 20px;
  height: 20px;
  fill: #fff9e1;
}
.footer__third {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__third {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__third {
    justify-content: start;
    align-items: start;
  }
}
.footer__form {
  display: flex;
  width: 100%;
  gap: 12px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer__form {
    flex-direction: row;
    max-width: 570px;
  }
}
.footer__text {
  padding-top: 12px;
  margin-bottom: 20px;
}
.footer__input {
  max-width: 358px;
  width: 100%;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  outline: none;
  padding-left: 16px;
}
.footer__button {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #FFCB00;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: #FFCB00;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 28px;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}
.footer__svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  fill: #fff;
}

.menu {
  padding-top: 10px;
  padding-bottom: 48px;
  padding-right: 15px;
  padding-left: 40px;
  background-color: #000000;
  position: fixed;
  top: 0px;
  right: 0px;
  max-width: 100%;
  height: 100%;
  width: 100%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.83, -0.08, 0.32, 1);
}
@media screen and (min-width: 768px) {
  .menu {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 306px;
}
.menu__close {
  margin-left: 91.7%;
  cursor: pointer;
  fill: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__close:hover {
  fill: #FFCB00;
}
.menu__link {
  color: #d4d4d4;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}
.menu__link:hover {
  color: #FFCB00;
}
.menu__contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.menu__contact {
  color: #b0b0b0;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  transition: color 250ms cubic-bezier(0.83, -0.08, 0.32, 1);
}
.menu__contact-special {
  color: #FFCB00;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
  transition: color 250ms cubic-bezier(0.83, -0.08, 0.32, 1);
}
.menu__socials {
  margin-top: 64px;
  display: flex;
}
.menu__social-contact {
  color: #d4d4d4;
}
.menu__social {
  padding-left: 10px;
  padding-right: 10px;
  border-right: solid 1px #b0b0b0;
}
.menu__specail {
  padding-left: 10px;
  padding-right: 10px;
  border-right: none;
}

.invitation {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background.webp);
  padding-top: 118px;
  padding-bottom: 118px;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
}
@media screen and (min-width: 1200px) {
  .invitation {
    background-position: center, center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.invitation__tytle {
  display: flex;
  color: #fff9e1;
  text-align: center;
  margin-bottom: 30px;
  font-size: 26px;
  letter-spacing: 1.56px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}
@media screen and (min-width: 768px) {
  .invitation__tytle {
    letter-spacing: 1.56px;
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .invitation__tytle {
    max-width: 696px;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
  }
}
.invitation__borders {
  display: flex;
  justify-content: center;
}
.invitation__button {
  color: #fff9e1;
  background: #FFCB00;
  width: 216px;
  height: 50px;
  font-size: 16px;
  line-height: 1.9;
  flex-shrink: 0;
  border: none;
  border-radius: 7px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.features__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    flex-wrap: nowrap;
  }
}
.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .features__item {
    max-width: 354px;
    align-items: start;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    align-items: start;
  }
}
.features__item:nth-child(1)::before {
  content: "";
  display: block;
  max-width: 100%;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background: url(../images/reason1.webp), #fff9e1;
  background-repeat: no-repeat, repeat;
  background-position: center, center;
}
@media screen and (min-width: 1200px) {
  .features__item:nth-child(1)::before {
    background-image: url(../images/reason1.webp);
    max-width: 270px;
  }
}
.features__item:nth-child(2)::before {
  content: "";
  display: block;
  max-width: 100%;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background: url(../images/reason2.webp), #fff9e1;
  background-repeat: no-repeat, repeat;
  background-position: center, center;
}
@media screen and (min-width: 1200px) {
  .features__item:nth-child(2)::before {
    background-image: url(../images/reason2.webp);
    max-width: 270px;
  }
}
.features__item:nth-child(3)::before {
  content: "";
  display: block;
  max-width: 100%;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background: url(../images/reason3.webp), #fff9e1;
  background-repeat: no-repeat, repeat;
  background-position: center, center;
}
@media screen and (min-width: 1200px) {
  .features__item:nth-child(3)::before {
    background-image: url(../images/reason3.webp);
    max-width: 270px;
  }
}
.features__item:nth-child(4)::before {
  content: "";
  display: block;
  max-width: 100%;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background: url(../images/reason4.webp), #fff9e1;
  background-repeat: no-repeat, repeat;
  background-position: center, center;
}
@media screen and (min-width: 1200px) {
  .features__item:nth-child(4)::before {
    background-image: url(../images/reason4.webp);
    max-width: 270px;
  }
}
.features__tytle {
  color: #d4d4d4;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__text {
  color: #b0b0b0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  text-align: start;
}
@media screen and (min-width: 768px) {
  .features__text {
    text-align: start;
  }
}

.service {
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .service {
    display: block;
  }
}
.service__list {
  display: flex;
  justify-content: space-between;
}
.service__listitem {
  position: relative;
}
.service__tytle {
  display: flex;
  justify-content: center;
}
.service__containre {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  position: absolute;
  bottom: 0px;
}
.service__text {
  color: #fff9e1;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.team {
  background-color: #0e0e0d;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.team__item {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff9e1;
  border-radius: 0px 0px 4px 4px;
}
.team__picture {
  max-width: 450px;
  max-height: 460px;
}
@media screen and (min-width: 768px) {
  .team__picture {
    max-width: 354px;
    max-height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .team__picture {
    max-width: 270px;
    max-height: 260px;
  }
}
.team__containre {
  background-color: #000000;
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}
.team__tytle {
  color: #d4d4d4;
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__tytle {
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 768px) {
  .team__tytle {
    margin-bottom: 30px;
  }
}
.team__teammate {
  color: #d4d4d4;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.48px;
  padding-top: 30px;
}
.team__text {
  color: #b0b0b0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.48px;
  margin-top: 10px;
  margin-bottom: 16px;
}
.team__socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: #d4d4d4;
}
.team__listitem {
  border-radius: 50px;
  width: 44px;
  height: 44px;
  padding: 12px;
  transition-duration: 250ms;
  background-color: black;
  margin-bottom: none;
}
.team__logos {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.team__listitem:hover .team__logos {
  fill: white;
}
.team__listitem:hover {
  background-color: #FFCB00;
}
.team__listitem:focus-within .team__logos {
  fill: white;
}
.team__listitem:focus-within {
  background-color: #FFCB00;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.customers__tytle {
  color: #d4d4d4;
  text-align: center;
  font-style: normal;
  line-height: normal;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.84px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .customers__tytle {
    font-size: 36px;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
}
.customers__list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
.customers__logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.customers__border {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 210px;
  min-width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
}
@media screen and (min-width: 768px) {
  .customers__border {
    width: 170px;
  }
}
.customers__border:hover .customers__logo {
  fill: #FFCB00;
}
.customers__border:hover {
  border: 1px solid #FFCB00;
}
.customers__border:focus {
  border: 1px solid #FFCB00;
}
.customers__border:focus-within .customers__logo {
  fill: #FFCB00;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.83, -0.08, 0.32, 1), visibility 250ms cubic-bezier(0.83, -0.08, 0.32, 1);
}

.backdrop.hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  max-width: 450px;
  height: 609px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 4px;
  background: black;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.83, -0.08, 0.32, 1);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
.modal__form {
  width: 100%;
  max-width: 450px;
}
.modal__button {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background: black;
  border: rgba(255, 255, 255, 0.1) solid 1px;
  border-radius: 50%;
  padding-top: 6px;
  margin-right: 8px;
  margin-left: 100%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
}
.modal__close {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
  fill: grey;
}
.modal__button:hover .modal__close {
  fill: #FFCB00;
}
.modal__button:hover {
  border: #FFCB00 solid 1px;
}
.modal__tytle {
  color: #535252;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal__names {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}
.modal__input {
  padding-top: 11px;
  max-width: 370px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgb(114, 113, 113);
  padding-bottom: 11px;
  padding-left: 12px;
  display: flex;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, border;
}
@media screen and (min-width: 768px) {
  .modal__input {
    width: 448px;
  }
}
.modal__input:hover .modal__svg {
  fill: #FFCB00;
}
.modal__input:hover {
  border: #FFCB00 solid 1px;
}
.modal__svg {
  margin-right: 12px;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
  fill: #535252;
}
.modal__inputs {
  outline: none;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
  background: black;
}
.modal__special {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  outline: none;
  background-color: black;
}
.modal__inputs:hover {
  border: none;
}
.modal__coment {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
  margin-top: 10px;
}
.modal__borders {
  color: rgb(117, 117, 117);
  max-width: 370px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgb(114, 113, 113);
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
}
@media screen and (min-width: 768px) {
  .modal__borders {
    width: 448px;
  }
}
.modal__borders:hover {
  border: 1px solid #FFCB00;
}
.modal__box {
  display: flex;
  gap: 8.38px;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
}
.modal__agree {
  fill: #212121;
  width: 16px;
  height: 15px;
  flex-shrink: 0;
  margin-top: 4px;
}
.modal__agreement {
  color: #d4d4d4;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}
.modal__link {
  color: #FFCB00;
  text-decoration-line: underline;
}
.modal__send {
  border-radius: 4px;
  background: #FFCB00;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border: none;
  color: #fff9e1;
  margin: 0 auto;
  display: block;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio__buttonlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: start;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .portfolio__buttonlist {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__buttonlist {
    margin-bottom: 50px;
  }
}
.portfolio__button {
  color: #d4d4d4;
  background: #fff9e1;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.6;
  height: 38px;
  flex-shrink: 0;
  border-radius: 7px;
  border: none;
  padding: 6px 22px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.portfolio__button:hover {
  background: #FFCB00;
  color: #fff9e1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.portfolio__button:focus {
  background: #FFCB00;
  color: #fff9e1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.portfolio__poster {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio__poster {
    flex-direction: row;
  }
}
.portfolio__posters {
  overflow: hidden;
  max-width: 100%;
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}
@media screen and (min-width: 768px) {
  .portfolio__posters {
    max-width: 354px;
    flex-basis: auto;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__posters {
    max-width: 100%;
  }
}
.portfolio__posters:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.portfolio__posters:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.portfolio__containre {
  padding: 20px 24px;
  border: 1px solid #eee;
  z-index: 2;
  height: 153px;
}
@media screen and (min-width: 768px) {
  .portfolio__containre {
    height: 153px;
  }
}
.portfolio__containre-special {
  padding: 20px 24px;
  border: 1px solid #eee;
  z-index: 2;
  height: 153px;
}
@media screen and (min-width: 768px) {
  .portfolio__containre-special {
    height: 189px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__containre-special {
    height: 153px;
  }
}
.portfolio__picture {
  height: 294px;
  z-index: 0;
}
@media screen and (min-width: 768px) {
  .portfolio__picture {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__picture {
    width: 370px;
  }
}
.portfolio__name {
  color: #d4d4d4;
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  margin-bottom: 4px;
  padding-top: 20px;
}
.portfolio__text {
  color: #b0b0b0;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.9;
  letter-spacing: 0.48px;
  padding-bottom: 20px;
}
.portfolio__posters:hover .overlay {
  opacity: 1;
  transform: translate(0px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(243, 205, 33, 0.9);
  height: 294px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(294px);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .overlay {
    padding: 0;
  }
}
.overlay__text {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  width: 402px;
}
@media screen and (min-width: 768px) {
  .overlay__text {
    width: 306px;
  }
}/*# sourceMappingURL=main.css.map */