
:root{
    --text-color: #212121;
    --content-color: hsl(0, 0%, 46%);
    --overlay-color: #2196F3;
    --footer-color: #2F303A;
    --button-color: #F5F4FA;

}

 .body{
    font-family: Roboto;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: solid darkblue;
}

.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-container{
    display: flex;
    align-items: center;
}


.header-logo{
color:var(--overlay-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.3;
letter-spacing: 0.78px;
}

.header-logo-color{
    color: var(--text-color);
}
.header-list{
    display: flex;
    gap: 50px;
    margin-left: 93px;
}

.header-link{
color:var(--text-color);
font-size: 14px;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.28px;
}

.header-link:hover {
    color: var(--overlay-color);
}

.header-contacts{
    display: flex;
    justify-content: flex-end;
    gap: 50px; 
    margin-left: 334px;
}


.header-contact{
color: var(--content-color);
font-size: 14px;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.28px;
}

.header-contact:hover{
    color: var(--overlay-color);
}

.invitation{
    background: var(--footer-color) ;
    padding-bottom: 200px ;
    padding-top: 200px;
}

.invitation-tytle{
color: var(--button-color);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 1.4;
letter-spacing: 2.64px;
text-transform: uppercase;
margin-left: 273px;
margin-right: 273px;
}

.invitation-button{
color: var(--button-color);
background:var(--overlay-color);
width: 216px;
height: 50px;
font-size: 16px;
line-height: 1.9;
flex-shrink: 0;
margin-top: 30px;
margin-left: 477px;
border: none;
border-radius: 7px;
}

.features{
    padding-top: 94px;
    padding-bottom: 94px;

}

.features-list{
    display: flex;
}

.features-tytle{
color: var(--text-color);
font-size: 14px;
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}

.features-text{
color: var(--content-color);
font-size: 14px;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.42px;
}

.service{
    padding-bottom: 94px;
}

.service-list{
    display: flex;
    justify-content: space-between;
}

.service-tytle{
color: var(--text-color);
font-size: 36px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 1.08px;
display: flex;
justify-content: center;
margin-bottom: 50px;
}

.team{
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--button-color);
}

.team-list{
    display: flex;
    justify-content: space-between;
}

.team-picture{
width: 270px;
height: 260px;
}

.team-tytle{
    color: var(--text-color);
font-size: 36px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 1.08px;
display: flex;
justify-content: center;
margin-bottom: 50px;
}

.team-teammate{
    color: var(--text-color);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.48px;
}

.team-text{
    color: var(--content-color);
    text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0.48px;
}

.footer{
    background: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo{
    color: var(--overlay-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.78px;
}

.footer-logo-color{
    color: var(--button-color);
}

.footer-address{
    color: rgba(255, 255, 255, 0.60);
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.42px;
}

.footer-address-special{
    color: #FFF;  
font-style: normal;
font-size: 14px;
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.42px;
}

.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-buttonlist{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 50px;
    margin-left: 298px;
}

.portfolio-button{
    color: var(--text-color);
    background: var(--button-color);
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.6;
    width: 125px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 7px;
    border: none;
}

.portfolio-button:hover {
 background: var(--overlay-color);
 color: var(--button-color);
}

.portfolio-poster{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}


.portfolio-picture{
width: 370px;
height: 294px;
}

.portfolio-name{
    color: var(--text-color);
font-size: 18px;
font-weight: 700;
line-height: 2; 
letter-spacing: 1.08px;
}

.portfolio-text{
    color: var(--content-color);
font-size: 16px;
font-weight: 400;
line-height: 1.9;
letter-spacing: 0.48px;
}



