
    // $text-color: #212121;
    // $content-color: hsl(0, 0%, 46%);
    // $overlay-color: #2196f3;
    // $footer-color: #2f303a;
    // $button-color: #f5f4fa;
    // $secondtext-color: #757575;

    $text-color: #dadada;
    $content-color: hsl(0, 0%, 69%);
    $overlay-color: #FFCB00;
    $footer-color: #4f4b46;
    $button-color: #ffe789;
    $secondtext-color: #000000;
