

.footer {
    background: $footer-color;
    padding-top: 60px;
    padding-bottom: 60px;

  
  &__containre {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 0;
        }
  }
  &__first{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      align-items: start;
        }
    
  }

  &__second {
    display: flex;
    flex-direction:column;
    justify-content: center;
    text-align: center;
    padding-top: 12px;
    width: 206px;
    height: 80px;
    flex-shrink: 0;
   
    @media screen and (min-width: 768px) {
      align-items: start;
      margin-left: 70px;
      margin-right: 93px;
        }
  }
  
  &__logo {
    color: $overlay-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.78px;
    @media screen and (min-width: 768px) {
      margin-bottom: 20px; 
        }

  }
  
  &__color {
    color: $button-color;
  }
  
  &__address {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
    margin-top: 9px;
  }
  
  &__special {
    color: #fff;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
  }
  
  &__list {
    margin-top: 32px;
    display: flex;
    gap: 10px;
  }
  
  &__content {
    @include socials($background:rgba(255, 255, 255, 0.1), $margin:none);
    transition-property: color;
  }
  
  &__content:hover {
    background-color: $overlay-color;
  }
  
  &__content:focus-within {
    background-color: $overlay-color;
  }
  
  &__services {
    width: 20px;
    height: 20px;
    fill: $button-color;
  }
  
  &__encourage {
    @extend %footer-text

  }
  &__third{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      justify-content: start;
      align-items: start;
        }
  }

  &__form{
    display: flex;
    width: 100%;
    gap: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      width: 570px;
    }
  }

  &__text {
    @extend %footer-text;
    padding-top: 12px;
    margin-bottom: 20px;
  }
  
  &__input {
    max-width: 358px;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0);
    // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: none;
  }
  
  &__button {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 4px;
    background: $overlay-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: $overlay-color;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 28px;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
    letter-spacing: 0.96px;
  }
  
  &__svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: #fff;
  }
  
  
}