

.features {
    padding-top: 60px;
    padding-bottom: 94px;
  
  
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media screen and (min-width: 480px) {
      flex-direction: row;
  }
}

  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 480px) {
      align-items: start;
  }
  }

  &__item:nth-child(1)::before {
    content: "";
    display: block;
    max-width: 450px;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background: url(../images/reason1.webp), $bu;
    background-repeat: no-repeat, repeat;
    background-position: center, center;
  @media screen and (min-width: 480px) {
    background-image: url(../images/reason1.webp);
        max-width: 270px;
  }
  }
  
  &__item:nth-child(2)::before {
    content: "";
    display: block;
    max-width: 450px;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background: url(../images/reason2.webp), $bu;
    background-repeat: no-repeat, repeat;
    background-position: center, center;
  @media screen and (min-width: 480px) {
    background-image: url(../images/reason2.webp);
        max-width: 270px;

  }
  }
  
  &__item:nth-child(3)::before {
    content: "";
    display: block;
    max-width: 450px;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background: url(../images/reason3.webp), $button-color;
    background-repeat: no-repeat, repeat;
    background-position: center, center;
  @media screen and (min-width: 480px) {
    background-image: url(../images/reason3.webp);
       max-width: 270px;
  }
  }
  
  &__item:nth-child(4)::before {
    content: "";
    display: block;
    max-width: 450px;
    width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background: url(../images/reason4.webp), $bu;
    background-repeat: no-repeat, repeat;
    background-position: center, center;
  @media screen and (min-width: 480px) {
    background-image: url(../images/reason4.webp);
        max-width: 270px;
  }
  }
  
  &__tytle {
    color:$text-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  &__text {
    color:$content-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
    text-align: start;
    @media screen and (min-width: 480px) {
      text-align: start;
  }
  }
}