

.team {
    background-color: #f5f4fa;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px){
      padding-top: 94px;
      padding-bottom: 94px;
    }
  
  
&__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
        }

  }
  
&__item {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background-color: $button-color;
    border-radius: 0px 0px 4px 4px;
  }
  
&__picture {
  max-width: 450px;
max-height: 460px;
@media screen and (min-width: 768px){
  max-width: 354px;
  max-height: 536px;
}
@media screen and (min-width: 1200px){
  max-width: 270px;
  max-height: 260px;
}
  }
  
&__containre {
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
    
  }
  
&__tytle {
  color: $text-color;
  @extend %tytle-font;
text-align: center;
font-family: Roboto;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.84px;
margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
font-size: 36px;
letter-spacing: 1.08px;
  }
  @media screen and (min-width: 768px) {
  margin-bottom: 50px;
      }
  }
  
&__teammate {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;
    padding-top: 30px;
  }
  
&__text {
    color: $content-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.48px;
    margin-top: 10px;
    margin-bottom: 16px;
  }
  
&__socials {
    display: flex;
    justify-content: center;
    gap: 10px;
    // margin-left: 16px;
    // margin-right: 16px;
    color: $text-color;
  }
  
&__listitem {
  @include socials ($margin: none)
  }
  
&__logos {
    fill: #afb1b8;
    width: 20px;
    height: 20px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
  
&__listitem:hover &__logos {
    fill: white;
  }
&__listitem:hover {
    background-color: $overlay-color;
  }
  
&__listitem:focus-within &__logos {
    fill: white;
  }
&__listitem:focus-within {
    background-color: $overlay-color;
  }
}